* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: #2A2A2A;
	font-family: 'Ubuntu', sans-serif;
}
a {
	text-decoration: none;
}
ul {
	display: flex;
	list-style-type: none;
}
/* =========================================== */
.wrap {
	width: 1440px;
	margin: auto;
}
/* ============================================ */
header {
	width: 100%;
	background-color: #2A2A2A;
	position: fixed;
	z-index: 1000;
}
.header {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;

}
.logo-name h1 {
	color: #EA5747;
}
.logo-name h1::after {
	content: "ANTI-CHEAT";
	font-size: 20px;
	color: #fff;
	padding-left: 5px;
}
.nav li {
	margin: 0 10px;
}
.nav a {
	color: #fff;
	transition: .3s;
}
.nav a:hover {
	color: #595959;
}
/* =================header====================== */
section {
	background: url(../img/bg2.jpg) fixed;
	background-size: 100%;
	height: 850px;
}
.section {
	background-image: url(../img/bg2.png);
	height: 850px;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	
}
.logo {
	width: 250px;
	position: relative;
	top: 120px;
	margin: auto;
	right: 50px;
}
.text-info {
	width: 600px;
	position: relative;
	top: 120px;
	margin: auto;
	text-align: center;
}
.text-info h2 {
	font-size: 40px;
}
.text-info h3 {
	font-size: 30px;
}
.text-info p{
	padding-top: 10px;
	font-size: 25px;

}
.border {
	border: 1px solid #fff;
	width: 600px;
}
/* ================SECTION===================== */
.section-2 {
	height: 800px;
	color: #fff;
}
.section-2-text{
	width: 1400px;
	margin-left: 870px;
	margin: auto;
	margin-top: 100px;
	text-align: center;
}
.sec-2-h3 h3 {
	font-size: 15px;
}
.border-2 {
	width: 800px;
	border: 1px solid #fff;
	margin: auto;
}
.sec-2-p {
	margin: auto;
	margin-top: 50px;
	width: 700px;
	font-size: 18px;
}
.info {
	width: 1200px;
	margin: auto;
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
}
.svg {
	background-color: #fff;
	border-radius: 50%;
}
.info-block-1 {
	width: 333px;
	align-items: center;
	text-align: center;
}
.info-block-1 h2 {
	font-size: 20px;
}
.info-block-1-text p{
	height: 220px;
	background-color: #114972;
	padding: 40px 5px;
	border-radius: 5px;
	font-size: 17px;
}
/* ======================section-2=================== */
.section-3 {
	height: 518px;
	background-image: url(../img/logo-5.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.section-3-1 {
	height: 518px;
	background-image: url(../img/bg2.png);
	background-repeat: no-repeat;
	background-size: 100%;
	
}
.sec-3-text {
	width: 1000px;
	text-align: center;
	color: #fff;
	margin: auto;
	position: relative;
	top: 150px;
}
.sec-3-h2 h2 {
	font-size: 20px;
	font-weight: 600;
}
/* =====================section-3========================= */
.section-4 {
	height: 500px;
	color: #fff;
	
}
.section-4-blocks {
	width: 1500px;
	margin: auto;
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
}
.sec-4-block {
	width: 350px;
	text-align: center;
	text-align: center;
}
.game {
	width: 120px;
	height: 120px;
	background-color: #fff;
	
}
.sec-4-block h2 {
	font-size: 20px;
}
.sec-4-p {
	background-color: #114972;
	border-radius: 5px;
	padding: 20px 5px;
}
.sec-4-logo {
	width: 400px;
	height: 250px;
	border-radius: 5px;
	margin-top: 100px;
	margin-right: 100px;
}
/* =====================section-4============================ */
footer {
	background-color: #2A2A2A;
	border:1px solid #000;
	color: #fff;
	margin-top: 50px;
}
.footer {
	width: 80%;
	margin: auto;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.exero-c p {
	width: 200px;
	font-size: 20px;
	font-weight: 600;
}
.exero-c span {
	color: #EA5747;
}
.social img {
	width: 30px;
	transition: .3s;
}
.social li {
	margin: 0 10px;
}
.social img:hover {
	border-bottom: 1px solid #fff;
	width: 40px;
}